* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(220, 132, 16);
}

.logo {
  height: 65px;
  width: 185px;
  margin-left: 20px;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: end;
  gap: 35px;
  margin-right: 20px;
}

nav ul li {
  list-style: none;
}

.nav_link {
  text-decoration: none;
}

/*Main*/
#banner {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#banner h1 {
  margin-bottom: 30px;
  font-size: 4em;
  margin-left: 20px;
}

#banner p {
  text-align: left;
  font-size: x-large;
  margin-left: 20px;
}

.store_img {
  margin-right: 20px;
}

#categories {
  min-height: 100vh;
}

#categories h2 {
  text-align: center;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; /*Centra elementos dentro del grid*/
  gap: 30px;
}

.category_card {
  border: 1px solid black;
  background-color: darkred;
}

.category_card img {
  width: 400px;
  height: 400px;
}

.category_card h3 {
  text-align: center;
}

#top_products {
  min-height: 100vh;
}

#top_products h3 {
  text-align: center;
}

.product_card {
  border: 1px solid black;
  background-color: chocolate;
}

.product_card img {
  height: 400px;
  width: 400px;
}

.product_card p {
  text-align: center;
}

#contact {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}

form {
  margin-top: 20px;
  margin-bottom: 175px;
  padding: 80px;
  width: 75%;
  border-radius: 10px;
  background-color: yellowgreen;
}

form h3 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  margin: 15px 0;
  padding: 7px;
  outline: none;
  border: none;
}

textarea {
  width: 100%;
  margin: 15px 0;
  padding: 7px;
  resize: none;
  outline: none;
  border: none;
}

.button_container {
  display: flex;
  justify-content: center;
}

form div button {
  width: 25%;
  margin: 15px auto;
  padding: 7px;
  border: none;
}

.separator {
  width: 0;
  height: 0;
  border-right: 98vw solid transparent;
  border-bottom: 13.9vw solid chocolate;
  margin-top: -13.9vw;
}

/*Footer*/
footer {
  background-color: chocolate;
  padding: 15px;
  position: relative;
}

footer a {
  display: block;
  text-decoration: none;
}

/*WhatsApp Button*/
.btn-wsp {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 55px;
  bottom: 65px;
  right: 30px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  background-color: #fff;
  color: #0df053;
}