* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

/*HEADER*/
header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(220, 132, 16);
}

.logo {
  height: 65px;
  width: 185px;
}

/*Naveigation Bar*/
nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 35px;
}

nav ul li {
  list-style: none;
}

.nav_link {
  text-decoration: none;
}

/*MAIN*/
/*Banner*/
#banner {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#banner h1 {
  margin-bottom: 30px;
  font-size: 4em;
  margin: 20px;
}

#banner p {
  text-align: left;
  font-size: x-large;
  padding: 20px;
}

.store_img {
  position: relative;
  right: 20px;
}

/*Categories Section*/
#categories {
  min-height: 100vh;
}

#categories h2 {
  text-align: center;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; /*Centra elementos dentro del grid*/
  gap: 30px;
}

.category_card {
  border: 1px solid black;
  background-color: darkred;
}

.category_card img {
  width: 400px;
  height: 400px;
}

.category_card h3 {
  text-align: center;
}

/*Top Products Section*/
#top_products {
  min-height: 100vh;
}

#top_products h3 {
  text-align: center;
}

.product_card {
  border: 1px solid black;
  background-color: chocolate;
}

.product_card img {
  height: 400px;
  width: 400px;
}

.product_card p {
  text-align: center;
}

/*Contact Us Section*/
#contact {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}

/*Form*/
form {
  margin-top: 100px;
  margin-bottom: 175px;
  padding: 30px;
  width: 50%;
  border-radius: 10px;
  background-color: yellowgreen;
}

form h3 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  margin: 15px 0;
  padding: 7px;
  outline: none;
  border: none;
}

textarea {
  width: 100%;
  margin: 15px 0;
  padding: 7px;
  resize: none;
  outline: none;
  border: none;
}

.button_container {
  display: flex;
  justify-content: center;
}

form div button {
  width: 25%;
  margin: 15px auto;
  padding: 7px;
  border: none;
}

.separator {
  width: 0;
  height: 0;
  border-right: 98vw solid transparent;
  border-bottom: 13.9vw solid chocolate;
  margin-top: -13.9vw;
}

/*FOOTER*/
footer {
  background-color: chocolate;
  padding: 15px;
  position: relative;
}

footer a {
  display: block;
  text-decoration: none;
}

/*WhatsApp Button*/
.btn-wsp {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 55px;
  bottom: 80px;
  right: 30px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  background-color: #fff;
  color: #0df053;
}

/*WEB RESPONSIVE*/
@media (max-width: 880px) {
  #banner {
    flex-wrap: wrap;
  }
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .category_card,
  .product_card {
    width: 100%;
  }
 form {
  padding: 10px;
  width: 50%;
 }
}

@media (max-width: 480px) {
  #banner {
    flex-wrap: wrap;
    gap: 1px;
  }
  .store_img {
    max-width: 100vw;
  }
  .grid_container {
    grid-template-columns: 1fr;
  }
  .category_card,
  .product_card {
    max-width: 100%;
  }
 form {
  padding: 10px;
  width: 50%;
 }
}